{% extends "main/base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block title %} DataViz | Login {% endblock title %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'user/login.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'main/styles/site-header.css'%}">
{% endblock style %}

{% block content %}
{% comment %} <h2 class="app-name">DataViz.py</h2> {% endcomment %}
<header class="site-header">
    <div class="content-wrapper">
        <div class="header-content">
            <div class="header-title">
                <div class="site-logo">
                    <svg enable-background="new 0 0 512 512" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                        <path d="m57.302 227.714c-7.811-7.811-7.811-20.475 0-28.285l117.099-117.099c7.811-7.809 20.474-7.811 28.284 0l73.628 73.628 115.958-115.958h-51.376c-11.046 0-20-8.954-20-20s8.954-20 20-20h99.65c11.225-.006 20.01 9.171 20.01 20v99.66c0 11.046-8.954 20-20 20s-20-8.954-20-20v-51.375l-130.1 130.1c-7.811 7.811-20.474 7.811-28.284 0l-73.628-73.628-102.957 102.957c-7.81 7.811-20.475 7.809-28.284 0zm85.587 146.286v118c0 11.046-8.954 20-20 20h-102.889c-11.046 0-20-8.954-20-20v-118c0-11.046 8.954-20 20-20h102.889c11.046 0 20 8.954 20 20zm-40 20h-62.889v78h62.889zm224.555-96.074v194.074c0 11.046-8.954 20-20 20h-102.888c-11.046 0-20-8.954-20-20v-194.074c0-11.046 8.954-20 20-20h102.889c11.045 0 19.999 8.954 19.999 20zm-40 20h-62.889v154.074h62.889zm224.556-96.073v270.147c0 11.046-8.954 20-20 20h-102.889c-11.046 0-20-8.954-20-20v-270.147c0-11.046 8.954-20 20-20h102.889c11.046 0 20 8.954 20 20zm-40 20h-62.889v230.147h62.889z"/>
                    </svg>
                </div>
                <h3 class="app-name">DataViz</h3>
                <span>| Sign un</span>
            </div>
        </div>
    </div>
</header>
<div class="form-container">
    <div class="form-title">
        <h3>Welcome To DataViz</h3>
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="form-fields">
            <div class="field">
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <title>ic_person_24px</title>
                        <g>
                            <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"></path>
                        </g>
                    </svg>
                </div>
                {% render_field form.username id+="username-textbox" name+="username" placeholder+="Username" %}
            </div>
            {% if form.username.errors %}
            <div class="error-list-container">
                {{ form.username.errors }}
            </div>
            {% endif %}
            <div class="field">
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <title>ic_lock_24px</title>
                        <g>
                            <path
                                d="M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zm-6 9c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm3.1-9H8.9V6c0-1.71 1.39-3.1 3.1-3.1 1.71 0 3.1 1.39 3.1 3.1v2z">
                            </path>
                        </g>
                    </svg>
                </div>
                {% render_field form.password id+="password-textbox" name+="password" placeholder+="Password" %}
                <div class="toogle-password-visibility" onclick="togglePasswordVisibility('#password-textbox')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <title>ic_remove_red_eye_24px</title>
                        <g>
                            <path
                                d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z">
                            </path>
                        </g>
                    </svg>
                </div>
            </div>
            {% if form.password.errors %}
            <div class="error-list-container">
                {{ form.password.errors }}
            </div>
            {% endif %}
        </div>
        <div class="form-actions">
            <div class="row">
                <button type="button" class="btn hollow-btn" onclick="location.href = `{% url 'signup' %}`">
                    Sign up
                </button>
                <button type="submit" class="btn filled-btn">
                    Sign in
                </button>
            </div>
        </div>
    </form>
</div>

<script>
    function togglePasswordVisibility(id) {
        let passwordTextbox = document.querySelector(id);
        if (passwordTextbox.type == "text") {
            passwordTextbox.type = "password";
        } else {
            passwordTextbox.type = "text";
        }
    }
</script>

{% endblock content %}